extends layout

block content
  form(action="#", method="post")
    each question, index in questions
      label(for=question) #{question}
      br

      for option in options[index]
        input(type="radio" id=option name=question value=option required)
        label(for=option) #{option}
        br

      br
      br

    input(type="submit", value="Submit")
